<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gohouse.gohouse">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.HomeActivity"></activity>
        <!-- 屏幕适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" /> <!-- 屏幕适配-完 -->
        <provider
            android:name=".provider.GoHouseFileProvider"
            android:authorities="com.gohouse.gohouse.fileprovide"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/cui_file_paths"
                tools:replace="android:resource" />
        </provider>

        <activity android:name=".MainActivity" /> <!-- 启动页 -->
        <activity android:name=".activity.SearchActivity"/>
        <activity android:name=".activity.ServerActivity"/>
        <activity android:name=".activity.ReminderActivity"/>
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 引导页 -->
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>